@use "base";

.airlines {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  justify-items: center;

  &__image {
    filter: brightness(0);
    height: 6rem;
    opacity: 40%;
    transition: all 0.5s ease;

    &:hover {
      opacity: 50%;
      transform: translateY(-1rem);
    }
  }
}
