@use "base";

.section-hero {
  grid-column: full-start / full-end;
  height: 100svh;
  overflow: hidden;
  position: relative;
}

.section-airlines {
  grid-column: center-start / center-end;
  padding: 4.8rem 0 3.2rem 0;
}

.section-introduction {
  //background: linear-gradient(
  //    to right,
  //    rgba(base.$color-primary-light-30, 0.8) 10%,
  //    rgba(base.$color-primary, 0.85) 100%,
  //  ),
  //  url("../../src/img/top-view-plane-boxes.jpg") no-repeat center center /
  //    cover fixed;
  grid-column: full-start / full-end;
  padding: 6.4rem 0 3.2rem 0;
  min-height: 60rem;
}

.section-features {
  grid-column: center-start / center-end;
  padding: 6.4rem 0 3.2rem 0;
}